@media (max-width: 1024px) {

    .nav__card {
        display: none;
    }

    .nav__card_image {
        display:inline;
        padding: 38px 0;
    }

    .nav__search {
        display: inline;
    }

    .hero__colomn {
        padding: 160px 77px 0px 77px;
    }

    .hero__title{
        font-style: normal;
        font-weight: 800;
        font-size: 60px;
        line-height: 73px;
    }

    .hero__content {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
    }

}